* {
    font-family: "Tahoma";
}

.hero-heading {
    margin-top: 100px;
    text-align: center;
    font-size: 32px;
}

.wrapped {
    display: flex;
    justify-content: space-between;
}

.wrapped label {
	-webkit-flex: auto;
	flex: auto;
}
